.homePage {
  background: $background-home;
  color: $text-color-home;
}
.title {
  font-weight: bold;
  font-size: 4vw;
  margin-bottom: 0.5rem;
}
.tagLine {
  font-size: 2vw;
  margin-bottom: 2rem;
}