.portfolio-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 2fr));
  grid-template-rows: masonry;
  gap: 1.5rem;
}
.portfolio-preview {
  padding: 0;
  overflow: hidden;
  border-radius: $radius;
  box-shadow: 0 0 4px $green-lightest,
              0 0 10px rgba($green-lightest, 0.2);
  display: flex;
  img {
    object-fit: cover;
  }
}