.portfolio-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
  @include below($desktop) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.portfolio-preview {
  padding: 0;
  overflow: hidden;
  border-radius: $radius;
  box-shadow: 0 0 4px $green-lightest,
              0 0 10px rgba($green-lightest, 0.2);
  display: flex;
  img {
    object-fit: cover;
    width: 100%;
  }
}